@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --blue-black: #243e63;
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  --purple: rgb(100 21 255 / var(--tw-text-opacity));
  --darker-purple: rgb(80 11 200 / var(--tw-text-opacity));
  --grey: rgb(226, 232, 240);
}
*:not(html) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* border: 1px solid grey; */
}
section:not(#landing) {
  padding: 8em 0;
}
li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
nav {
  height: 80px;
  display: flex;
}
.text--purple {
  color: var(--purple);
}
.row {
  width: 100%;
  max-width: 90dvw;
  margin: 0 auto;
}

.btn {
  background-color: var(--purple);
  color: white;
  padding: 12px 32px;
  border-radius: 64px;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: var(--darker-purple);
}
.btn--white {
  background-color: white;
}

.section__sub-title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--purple);
  font-size: 1rem;
  margin-bottom: 16px;
}
.section__title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  line-height: 1.25;
  /* text-align: center; */
  color: var(--blue-black);
}
p {
  color: rgb(124 139 161 / var(--tw-text-opacity));
}
a {
  text-decoration: none;
}
.section__para {
  max-width: 50.667dvw;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  margin: 32px 0;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}

.our-work__img--wrapper,
.testimonials__img--wrapper,
.steps__img--wrapper,
.values__img--wrapper {
  display: flex;
  width: 50%;
  height: max-content;
}
.our-work__img,
.testimonials__img,
.steps__img,
.values__img {
  width: 100%;
}
.our-work__text,
.testimonials__text,
.steps__text,
.values__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gradient--green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.gradient--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.menu-bar {
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  color: var(--purple);
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.menu-bar:hover {
  color: var(--darker-purple);
}
.menu__backdrop {
  position: fixed;
  background-color: white;
  border: 1px solid var(--grey);
  border-radius: 8px;
  top: 1em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
  width: 95%;
  min-height: 20svh;
  max-height: 40svh;
}
.btn__menu {
  align-self: flex-end;
  margin-right: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu--open {
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__backdrop--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.menu__backdrop--list li {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--blue-black);
  margin-bottom: 0.5em;
}

.nav__container,
.header__container,
.row{
  max-width: 80dvw;

  
}



/* 

NAVIGATION

*/

.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.logo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__text,
.nav__link {
  color: var(--blue-black);
}
.logo__text {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 8px;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  font-weight: 700;
  opacity: 0.8;
  margin: 0 16px;
  transition: all 0.3 ease;
}
.nav__links li:not(:last-child) .nav__link:hover {
  color: var(--purple);
  text-decoration: underline 2px;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.nav__link--primary {
  color: white;
  background-color: var(--purple);
  padding: 12px 32px;
  border-radius: 64px;
}
.nav__link--primary:hover {
  background-color: var(--darker-purple);
}
.nav__link--login {
  margin-left: 100px;
}

.logo__wrapper {
  display: flex;
  width: 40px;
  height: 40px;
}

.section__para {
}

.section__img--wrapper {
  display: flex;
  width: 50%;
}

/* 

HEADER

*/

header {
  min-height: calc(100vh - 240px);

}

.header__container {
  padding: 8rem 0;
  width: 100%;
  margin: 0 10dvw;
  height: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
  /* max-width: 1200px; */
}

.header__description {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
}

.header__img--wrapper {
  width: 60%;
  display: flex;
  align-items: flex-start;
}

.header__img {
  width: 100%;
}

.header__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.header__para {
  color: var(--blue-black);
  font-size: 1.125rem;
  margin: 32px 0;
}

.header__email--wrapper {
  display: flex;
  position: relative;
}

.header__btn--primary {
  position: absolute;
  right: 24px;
  align-self: center;
}

.header__input--email {
  width: 100%;
  padding: 20px 192px 20px 32px;

  font-size: 1rem;
  border: 2px solid;
  border-color: rgb(226, 232, 240);
  border-radius: 32px;
  margin-right: 16px;
  font-weight: 700;
  position: relative;
  transition: all 0.3s ease;
}
.header__input--email:hover {
  border-color: rgb(200, 206, 214);
}

.header__input--email::placeholder {
  font-weight: 700;
  color: rgb(226, 232, 240);
}

.header__input--email:focus {
  border-color: var(--purple);
  opacity: 1;
}

.customers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 64px 0;
}

.customers__sub-title {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(160 174 192 / var(--tw-text-opacity));
  margin-bottom: 16px;
}
.customers__img--wrapper {
  display: flex;
  gap: 24px;
}
.customers__img {
  opacity: 0.8;
  width: 100%;
}

/* 

FEATURES

*/

.features__section {
  padding: 64px 0;
}

.features__section--description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features__para {
  max-width: 800px;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  margin: 32px 0;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feature {
  width: 30%;
  display: flex;
  margin: 24px 16px;
}
.feature__description {
  margin: 0 16px;
}
.features__img {
}

.feature__title--text {
  font-size: 1.5rem;
  margin-bottom: 16px;
}
.feature__img--wrapper {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 32px;
  border: 2px solid var(--grey);
}

/* 

WORK

*/

.main__section-container {
  display: flex;
  gap: 24px;
}

.our-work__img--wrapper {
  display: flex;
  width: 50%;
  border-radius: 0.25rem;
  border: 1px solid rgb(226, 232, 240);
}
.our-work__img {
  width: 100%;
}

.our-work__para {
  text-align: left;
}

/* 

STEPS

*/



.step {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}
.step__count {
  color: rgb(203 213 224 / var(--tw-text-opacity));
  align-self: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.step__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: rgb(36, 62, 99);
}
.steps__list {
  margin-top: 32px;
}
.steps__img--wrapper {
  position: relative;
}
.cLa-Dhk {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 768px) {
  .cLa-Dhk {
    flex-direction: row;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

/* 

VALUES

todo: add proportions to width, hieght, margin and padding
*/


.value__container {
  display: flex;
}

.value__img--container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.subheading {
  font-size: 1.25rem;
}

.values__para {
  text-align: left;
}

.value__logo {
  width: 50px;
  height: 50px;
  padding: 13px;
  border-radius: 32px;
}

.affordable {
  --tw-bg-opacity: 1;
  background-color: rgb(154 230 180 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(39 103 73 / var(--tw-text-opacity));
}
.professionalism {
  --tw-bg-opacity: 1;
  background-color: rgb(254 178 178 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(155 44 44 / var(--tw-text-opacity));
}

.value__para {
  padding: 24px 0;
}

.value__img--container{
  display: flex;
}
/* 

PRICING

*/

#pricing {
  padding: 256px 0;
}

.pricing__section--description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricings {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.pricing__card {
  width: 30%;
  position: relative;
  /* height: fit-content; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 8px;
  box-shadow: 0 0 16px rgb(226, 232, 240);
}

.border-top {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.pricing__header * {
  margin: 8px 0;
}
.pricing__body * {
  margin: 16px 0;
}
.pricing__header,
.pricing__body,
.pricing__footer {
  padding: 24px;
}

.price {
  font-size: 3rem;
  font-weight: 700;
}
.pricing__body {
  border-top: 2px solid rgb(226, 232, 240);
  border-bottom: 2px solid rgb(226, 232, 240);
  width: 100%;
}
.pricing__body--header {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.pricing__title {
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.business {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  color: white;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.pricing__header *,
.pricing__body * {
  background: none;
}

.business .pricing__body {
  --tw-border-opacity: 1;
  border-color: rgb(102 126 234 / var(--tw-border-opacity));
}

.pricing__features {
  color: rgb(113 128 150 / var(--tw-text-opacity));
}
.btn__business {
  color: var(--purple);
}

.btn__business,
.btn__personal,
.btn__enterprise {
  font-size: 0.875rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn__business:hover,
.btn__personal:hover,
.btn__enterprise:hover {
  transform: translateY(-1px) translateX(1px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn__business:hover {
  background-color: white;
}

/* 

TESTIMONIALS

*/

#testimonials .row {
  display: flex;
  gap: 24px;
}
.testimonials__img--wrapper {
  display: flex;
  width: 50%;
}
.testimonials__img {
  width: 100%;
}
.testimonials__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.testimonials__title {
}

.testimonial__img--wrapper {
  display: flex;
  width: 80px;
  height: 80px;
}
.testimonial__img {
  width: 100%;
  border-radius: 52px;
}

.testimonial__para,
.testimonials__para {
  text-align: left;
}

.testimonial__footer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial__info {
  align-self: start;
}
.testimonial__title {
  margin: 16px 0;
}
.testimonial__person {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}
.testimonials__arrows {
  display: flex;
  gap: 8px;
}
.arrow {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 32px;
  color: var(--purple);
  transition: all 0.3s ease;
  cursor: pointer;
}
.arrow:hover {
  background-color: rgb(200, 206, 214);
}

.arrow__divider {
  width: 1px;
  /* height: 60%; */
  min-height: 40px;
  background-color: var(--grey);
  align-self: center;
}

/* styling from tReact for the stars */

.kpsZpj {
  margin-right: 0.25rem;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(246 173 85 / var(--tw-text-opacity));
}

/* styling from tReact for the arrow*/

.fHLbhy {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(237 242 247 / var(--tw-bg-opacity));
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}

/* 

GET STARTED

*/
.get-started__container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 8rem 10.125rem;
  background-color: var(--purple);

  border-radius: 8px;
}
.get-started__title {
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
}
.btn__get-started {
  background-color: rgb(245 101 101 / var(--tw-bg-opacity));
  color: white;
  font-weight: 700;
  margin: 0 16px 0 32px;
}

.btn__get-started:hover {
  background-color: rgb(221 80 90 / var(--tw-bg-opacity));
}

.btn__contact-us {
  border: 1px solid var(--grey);
  margin-right: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.btn__contact-us:hover {
  background-color: white;
  color: var(--purple);
}
.btn__get-started,
.btn__contact-us {
  font-size: 1.25rem;
  min-width: fit-content;
}
.get-started__container--buttons{
  display: flex;
  margin: 0 auto;
  gap: 1rem;
}

/* 

FOOTER

*/

footer {
  background-color: var(--purple);
  color: white;
  min-height: 60dvh;
}
.footer__container {
  padding: 128px 0;
  height: 100%;
}

.footer__cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer__logo {
  width: fit-content;
  display: flex;
  align-items: center;
}
.footer__logo--wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 32px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__social--logo {
  width: 40px;
  height: 40px;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divider {
  width: 100%;
  height: 2px;
  border: 1px solid var(--grey);
  opacity: 0.1;

  margin: 64px auto;
}
.footer__links--container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 32px;
  width: 30px;
  height: 30px;
}

.footer__col--title {
  font-size: 1rem;
}
.footer__list {
  font-size: 0.875rem;
  margin-top: 20px;
}
.footer__list li {
  margin: 16px 0;
}

.footer__list--links {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer__list--links:hover {
  color: var(--white);
  text-decoration: underline 2px;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}
.copyright {
  color: rgb(203 213 224 / var(--tw-text-opacity));
  line-height: 100px;
}

.footer__logo--text {
  font-size: 1.25rem;
}


@media (max-width: 80em){
  .header__title,
  .section__title{
    font-size: 2.5rem;
  }
  .header__para,
  .section__para{
    font-size: 1rem;
  }

  .header__container{
    padding: 4rem 0;
  }
  .header__img{
    align-self: start;
  }
  .nav__container,
  .header__container,
  .row{
    max-width: 90dvw;
    margin: 0 5dvw;
  }

  .get-started__container{
    padding: 8rem 5.125rem;
  }





  

}

@media (max-width: 64em) {




  .header__title,
  .section__title{
    font-size: 2.0rem;
  }
  
  .header__para,
  .section__para{
    font-size: 1rem;
  }
  /*
  .header__img--wrapper{

    padding: 0 3rem;
  }
  .header__container{
    padding: 4rem 0;
  } */
  .menu-bar{
    display: block;
  }
  .nav__links {
    display: none;
  }
  .header__container{
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .header__description{
    width: 80%;
    text-align: center;
    align-items: center;
  }
  .header__email--wrapper{
    width: 100%;
  }
  .header__img--wrapper{
    width: 80%;
    flex-shrink: 0;

  }
  .features{
    justify-content: center;
  }

  .value__container{
    flex-direction: column;
    align-items: center;
  }
  .pricings{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
  }
  .pricing__card{
    width: 50%;
    min-width: 25rem;
  }
  .get-started__container{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 4rem 5.125rem;

  }
  .btn__get-started,
  .btn__contact-us{
    margin: 1rem 0;

  }





}

@media (max-width: 46.25em) {
  .header__email--wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header__input--email{
    position: static;
  }
  .header__btn--primary{
    width: 100%;
    position:static;

  }
  .features{
    flex-flow: column wrap;
    align-items: center;
  }
  .feature{
    width: 80%;
  }
  .our-work__text,
  .testimonials__text,
  .steps__text,
  .values__text {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
    .our-work__img--wrapper,
  .testimonials__img--wrapper,
  .steps__img--wrapper,
  .values__img--wrapper {
    width: 80%;
  }
  .section__title{
    font-size: 2.0rem;
  }
  .section__para{
    font-size: 0.875rem;
  }
  .main__section-container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .steps__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .step{
    width: 100%;
    flex-direction: column;
  }
  .value__container{
    flex-direction: column;
    align-items: center;
  }
  .value{
    flex-direction: column;

  }
  .value__img--container{
    flex-direction: column;
    align-items: center;

  }
  .pricing__card{
    width: 40%;
    min-width: 20rem;
  }
  .testimonials__container{
    flex-direction: column;
  }
  .get-started__container--buttons{
    flex-direction: column;
  }
  .btn__get-started,
  .btn__contact-us{
    margin: 0.5rem 0;

  }
  .footer__bottom{
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  








 
}

@media (max-width: 34em) {

  .feature{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .btn__get-started,
  .btn__contact-us{
    

  }

  
}
